extends layout/base.pug

block content
  .flex.flex-col.items-center.justify-center.h-screen
    h1.text-4xl.font-semibold.leading-tight.text-center The page does not exist ;-(
    p.m-8.text-lg Go back to the homepage