mixin header
    .relative.pt-72.pb-32.content-center.items-center.justify-center(style='min-height: 75vh;')
        .absolute.top-0.w-full.h-full.bg-center.bg-cover(style='background-image: url("https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80")')
            span#blackOverlay.w-full.h-full.absolute.opacity-50.bg-black
        .container.relative.mx-auto
            .items-center.flex.flex-wrap
                .w-full.px-4.ml-auto.mr-auto.text-center(class='lg:w-6/12')
                    .pr-12
                        h1.text-white.font-semibold.text-8xl
                            | Courses in Tech
                        p.mt-4.text-2xl.text-gray-300
                            | We make it easier for you to find courses in tech
        .top-auto.bottom-0.left-0.right-0.w-full.absolute.pointer-events-none.overflow-hidden(style='height: 70px; transform: translateZ(0px);')
            svg.absolute.bottom-0.overflow-hidden(xmlns='http://www.w3.org/2000/svg' preserveaspectratio='none' version='1.1' viewbox='0 0 2560 100' x='0' y='0')
                polygon.text-gray-100.fill-current(points='2560 0 2560 100 0 100')

