doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Courses in Tech
        link(href="/styles/style.css", rel="stylesheet")
        block styles
    body.bg-gray-200
        nav.top-0.z-50.w-full.flex.flex-wrap.items-center.justify-between.px-2.py-3.navbar-expand-lg.bg-white.text-gray-800.text-xs.font-bold.rounded.shadow.outline-none.mb-3(class='active:bg-gray-100 hover:shadow-md focus:outline-none lg:mr-1 lg:mb-0' type='button' style='transition: all 0.15s ease 0s;')
            .container.px-4.mx-auto.flex.flex-wrap.items-center.justify-between
                .w-full.relative.flex.justify-between(class='lg:w-auto lg:static lg:block lg:justify-start')
                a.text-sm.font-bold.leading-relaxed.inline-block.mr-4.py-2.whitespace-no-wrap.text-black(href='/') coursesIN.tech
                button.cursor-pointer.text-xl.leading-none.px-3.py-1.border.border-solid.border-transparent.rounded.bg-transparent.block.outline-none(class='lg:hidden focus:outline-none' type='button' onclick="toggleNavbar('example-collapse-navbar')")
                    i.text-white.fas.fa-bars
                #example-collapse-navbar.flex-grow.items-center.bg-white.hidden(class='lg:flex lg:bg-transparent lg:shadow-none')
                ul.bg-white.text-gray-800.text-xs.font-bold.uppercase.px-4.py-2.rounded.shadow.outline-none.ml-3.mb-3(class='active:bg-gray-100 hover:shadow-md focus:outline-none lg:mr-1 lg:mb-0' type='button' style='transition: all 0.15s ease 0s;')
                    | Submit course
                button.bg-white.text-gray-800.text-xs.font-bold.uppercase.px-4.py-2.rounded.shadow.outline-none.ml-3.mb-3(class='active:bg-gray-100 hover:shadow-md focus:outline-none lg:mr-1 lg:mb-0' type='button' style='transition: all 0.15s ease 0s;')
                    i.fas.fa-arrow-alt-circle-down
                    | Login
        block content